In [34]:
import pandas as pd
import mysql.connector

In [35]:
db_config = {
    'user': 'root',
    'password': 'Batman@2003',
    'host': 'localhost',
    'database': 'creadit_card_management_system'
}

In [10]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

In [4]:
def load_and_insert(csv_file, table_name):
    df = pd.read_csv(csv_file)
    
    columns = ', '.join(df.columns)
    placeholders = ', '.join(['%s'] * len(df.columns))
    sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders})'
    
    for row in df.itertuples(index=False, name=None):
        cursor.execute(sql, tuple(row))
        
    conn.commit()

In [12]:
load_and_insert('data/branch_dummy_data.csv', 'branch')
load_and_insert('data/user_dummy_data.csv', 'user1')
load_and_insert('data/credit_card_dummy_data.csv', 'credit_card')
load_and_insert('data/limits_dummy_data.csv', 'limits')
load_and_insert('data/application_dummy_data.csv', 'applications')

cursor.close()
conn.close()

In [36]:
from mysql.connector import Error

In [37]:
def create_connection():
    try:
        conn = mysql.connector.connect(**db_config)
        
        if(conn.is_connected()):
            print("Successfully connected to the database!")
            return conn
    except Error as e:
        print(f'Error: {e}')
        return None

In [38]:
def read_users():
    """Retrieve all users from the USER1 table."""
    conn = create_connection()
    if conn:
        cursor = conn.cursor()
        sql = "SELECT * FROM USER1"
        try:
            cursor.execute(sql)
            result = cursor.fetchall()
            for row in result:
                print(row)
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
            conn.close()

In [39]:
def create_user(user_id, user_name, user_mob, user_mail, user_address, user_branch_id):
    
    conn = create_connection()
    if conn:
        cursor = conn.cursor()
        sql = """INSERT INTO USER1 (user_id, user_name, user_mob, user_mail, user_address, user_branch_id)
                 VALUES (%s, %s, %s, %s, %s, %s)"""
        data = (user_id, user_name, user_mob, user_mail, user_address, user_branch_id)
        try:
            cursor.execute(sql, data)
            conn.commit()
            print(f"User {user_id} created successfully.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
            conn.close()

In [23]:
create_user(11, 'Debmalya Sen', 5550123456, 'ujjwalsen005@gmail.com', 'Sai Nagar Colony, St 19', 5)

Successfully connected to the database!
User 11 created successfully.

In [40]:
create_connection()

Successfully connected to the database!

In [44]:
read_users()

Successfully connected to the database!
(1, 'John Doe', '5551234567', 'john.doe@example.com', '123 Elm St', 1)
(2, 'Jane Smith', '5552345678', 'jane.smith@example.com', '456 Oak St', 2)
(3, 'Emily Johnson', '5553456789', 'emily.johnson@example.com', '789 Pine St', 3)
(4, 'Michael Brown', '5554567890', 'michael.brown@example.com', '101 Maple St', 4)
(6, 'William Wilson', '5556789012', 'william.wilson@example.com', '303 Cedar St', 6)
(7, 'Patricia Garcia', '5557890123', 'patricia.garcia@example.com', '404 Spruce St', 7)
(8, 'James Anderson', '5558901234', 'james.anderson@example.com', '505 Walnut St', 8)
(9, 'Linda Martinez', '5559012345', 'linda.martinez@example.com', '606 Redwood St', 9)
(10, 'Robert Taylor', '5550123456', 'robert.taylor@example.com', '707 Willow St', 10)
(11, 'Debmalya Sen', '5550123456', 'ujjwalsen005@gmail.com', 'Sai Nagar Colony, St 19', 5)

In [42]:
def delete_user(user_id):
    conn = create_connection()
    if conn:
        cursor = conn.cursor()
        sql = "DELETE FROM USER1 WHERE user_id = %s"
        try:
            cursor.execute(sql, (user_id,))
            conn.commit()
            print(f"User {user_id} deleted successfully.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
            conn.close()

Successfully connected to the database!
User 5 deleted successfully.

In [30]:
def find_user(search_criteria):
    """Find users based on the search criteria."""
    conn = create_connection()
    if conn:
        cursor = conn.cursor()
        sql = "SELECT * FROM USER1 WHERE"
        conditions = []
        params = []
        
        if 'user_id' in search_criteria:
            conditions.append("user_id = %s")
            params.append(search_criteria['user_id'])
        if 'user_name' in search_criteria:
            conditions.append("user_name LIKE %s")
            params.append(f"%{search_criteria['user_name']}%")
        if 'user_mail' in search_criteria:
            conditions.append("user_mail LIKE %s")
            params.append(f"%{search_criteria['user_mail']}%")
        
        if conditions:
            sql += " AND ".join(conditions)
        
        try:
            cursor.execute(sql, params)
            result = cursor.fetchall()
            if result:
                for row in result:
                    print(row)
            else:
                print("No users found matching the criteria.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
            conn.close()

In [33]:
find_user({'user_id': 11})

Successfully connected to the database!
Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '= 11' at line 1

In [13]:
import credit_card_system as cd

In [14]:
cd.connect_database('root', 'Batman@2003', 'localhost', 'creadit_card_management_systemm')

In [15]:
cd.create_connection()

In [27]:
cd.read_users()